<header>
    <div class="container">
        <a href="/" class="logo">Hotfix Café</a>
       <nav>
    <a href="/menu" class="<%= typeof isMenu !== 'undefined' && isMenu ? 'active' : '' %>">Меню</a>
    <a href="/feedback" class="<%= typeof isFeedback !== 'undefined' && isFeedback ? 'active' : '' %>">Отзывы</a>
</nav>
    </div>
</header>