<footer id="contacts">
    <div class="container">
        <h3>Наши контакты</h3>
        <div class="contact-info">
            <p>+1234567890</p>
            <p>example@gmail.com</p>
            <p>Адрес: ул. Октябрьская 10</p>
        </div>
    </div>
</footer>